<h3><span class="badge rounded-pill text-bg-primary">Movie</span> <%= movie.title %></h5>
<h6><strong>Director:</strong> <%= movie.director.first_name %> <%= movie.director.last_name %></h6>
<p><%= movie.synopsis %></p>
